/*  your css code here. If applicable */
header{
	text-align:center;
}
.middle,td{
	 border: 1px solid black;
	margin:1px;
	padding:1px;
	width:550px
	
}
#green{
	background-color:green;
}
#blue{
	background-color:blue;
}