/*  your css code here. If applicable */
.center-heading{
	text-align : center;
}
.left {
	text-align : left;
}
.center{
	text-align : center;
}
.right {
	text-align : right;
}
#table-1{
	margin-bottom : 30px;
	width : 100%;
}
#table-2{
	width : 100%;
}
#table-2 td, th{
	
	height : 15px;
}
table, th, td{
	border : 1px solid black;
	
}
#table-3 {
	margin-top : 30px;
	width : 100%;
}
#table-3 td,th{
	height : 15px;
}

#t-image{
  display: fixed;
	
  width: 4%;
}